@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-primary:#043873;
    --color-secondary: #043873;
    --color-terciary: #FFE492;
    --color-quaternary: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --background: #043873;
    --font-roboto: "Inter", sans-serif; 
  }
  @layer base{ 
    body {
      background-color: var(--background);
    }
  }
